/src/test/resources/nt/
/tmp/
/target/
/data/
/bin/
log/
src/main/resources/deweyLabels.tsv
src/test/resources/input/nt/
src/test/resources/test.tar.bz2
src/test/resources/xml/
stats.*.csv
*.swp
java.log
