src/test/resources/alma/almaMarcXmlTestFiles
/src/test/resources/nt/
/tmp/
/target/
/data/
/bin/
log/
logs/
src/main/resources/deweyLabels.tsv
src/test/resources/input/nt/
src/test/resources/test.tar.bz2
src/test/resources/xml/
stats.*.csv
*.swp
java.log
*log*.gz
web/scripts/.secrets
src/test/resources/alma-fix/alephFilesFromIdsOfAlmaTestFiles
web/conf/resources.conf
