[submodule "lookup-tables"]
	path = lookup-tables
	url = https://github.com/hbz/lookup-tables
[submodule "vocabs"]
	path = vocabs
	url = https://github.com/lobid/vocabs
[submodule "link-templates"]
	path = link-templates
	url = https://github.com/hbz/link-templates
