dl {
	border: 4px double #ccc;
	padding: 0.5em;
}

dt {
	float: left;
	clear: left;
	width: 150px;
	text-align: right;
	font-weight: bold;
	color: black;
	padding-top: 0.5em;
}

dt:after {
	content: "";
}

dd {
	margin: 0 0 0 160px;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

input#nwbibQuery {
	width: 90%;
}

.ui-helper-hidden-accessible { display:none; }

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	float: left;
	display: none;
	min-width: 160px;
	padding: 4px 0;
	margin: 2px 0 0 0;
	list-style: none;
	background-color: #ffffff;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	text-decoration: underline;
	color: blue;
}