@(hitId: Int, items: play.api.libs.json.JsValue)

@import play.api.libs.ws.WS
@import play.api.libs.json.JsArray
@import play.api.libs.json.Json
@import play.api.libs.json.JsValue
@import scala.concurrent._
@import ExecutionContext.Implicits.global
@import scala.concurrent.duration._

@string(value: JsValue) = { @value.asOpt[String].getOrElse("--") }

@defining(items.asOpt[JsArray].getOrElse(Json.arr(items))) { uris =>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.4"></script>
    <table class="table table-striped table-condensed">
     <tr>
         <th style="width: 30%"/>
         <th style="width: 70%"/>
     </tr>
    </table>
    <p>
    <div class="map" id="map-@(hitId)"></div>
    <script>
    var layer = new L.StamenTileLayer("toner-lite");
    var nrw = new L.LatLng(51.4, 7.7)
    var map@(hitId) = new L.Map("map-@(hitId)", {
        center: nrw,
        zoom: 7,
        scrollWheelZoom: false,
        attributionControl: false
    });
    @markers(uris)
    map@(hitId).addLayer(layer);
    </script>
    </p>
}

@markers(uris: JsArray) = {
    @for(
        (item,i) <- uris.as[scala.collection.immutable.List[JsValue]].map(_.as[String]).zipWithIndex;
        requestUri = item+"?format=full";
        jsonFuture = WS.url(requestUri).get().map(x=>x.json);
        itemJson = Await.result(jsonFuture, 5.second);
        owners = (itemJson\\"owner");
        if(!owners.isEmpty);
        owner = owners(0).as[String];
        signatures = (itemJson\\"callNumber");
        signature = if(signatures.isEmpty) "" else signatures(0).as[String];
        ownerRequestUri = owner+"?format=full";
        json = Await.result(WS.url(ownerRequestUri).get().map(x=>(x.json)), 5.second);
        ownerName = if((json\\"name").isEmpty) "" else (json\\"name")(0).as[String]) {
        @if(
        !(json \\ "long").isEmpty && (json \\ "long").head.asOpt[String].isDefined &&
        !(json \\ "lat").isEmpty && (json \\ "lat").head.asOpt[String].isDefined) {
            @defining(hitId+"_"+i) { id =>
                var lat = @string((json \\ "lat").head)
                var lon = @string((json \\ "long").head)
                var latlng@(id) = L.latLng(lat, lon);
                var marker@(id) = L.marker([lat, lon],{
                    title: "@ownerName (Signatur: @signature)"
                });
                marker@(id).bindPopup(
                    '<table class="table-striped table-condensed">'+
                        '@if(!ownerName.isEmpty){<tr><td>Einrichtung:</td><td><a href="@owner">@ownerName</a></td></tr>}'+
                        '@if(!signature.isEmpty){<tr><td>Signatur:</td><td><a href="@item">@signature</a></td></tr>}'+
                    '</table>', {
                        keepInView: true
                    });
                marker@(id).on('click', function(e) {
                    zoomDetails@(id)();
                });
                marker@(id).on('popupclose', function(e) {
                    map@(hitId).setView(nrw, 7);
                });
                marker@(id).addTo(map@(hitId));
                @if(uris.value.size == 1){
                    zoomDetails@(id)();
                }
                function zoomDetails@(id)() {
                    map@(hitId).setView(latlng@(id), 16);
                    marker@(id).openPopup();
                }
            }
        }
    }
}
