@()
<div id="map">
<script src="@controllers.routes.Assets.at("javascripts/d3.v3.min.js")"></script>
<script src="@controllers.routes.Assets.at("javascripts/topojson.v1.min.js")"></script>
<script src="@controllers.routes.Assets.at("javascripts/datamaps.world.min.js")"></script>
<script>
var map = new Datamap({
    element: document.getElementById('map'),
    geographyConfig: {
        dataUrl: '@controllers.routes.Assets.at("data/nrw.topo.json")',
        borderWidth: 1,
        borderColor: '#BBBBBB',
        highlightFillColor: '#2F994C',//'#DADADA',
        highlightBorderColor: '#2F994C', // '#BB2E30', //'7B7B7B',
        highlightBorderWidth: 0
    },
    fills: {
        defaultFill: '#F8F8F8' //'#EBEBEB'
    },
    scope: 'nrw',
    setProjection: function(element) {
        var projection = d3.geo.mercator()
            .center([7.7, 51.4])
            .scale(6000)
            .translate([element.offsetWidth / 2, element.offsetHeight / 2]);
        var path = d3.geo.path().projection(projection);
        return {path: path, projection: projection};
    },
    done: function(datamap) {
        datamap.svg.selectAll('.datamaps-subunit').on('click', function(geography) {
            window.location = "/nwbib/search?q=" + encodeURIComponent(geography.properties.name);
        });
    }
});
</script>
</div>