@()

<script>
function addSearchWidget(c){
    var form = $("#nwbib-form");
    var last = $(".search-field").last();
    var add = last.clone().attr("id","search-field-" + c);
    last.find("#rem-search-field").show();
    add.find("#rem-search-field").hide();
    last.find("#add-search-field").remove();
    form.append(add);
    $("#add-search-field").attr("onclick", "addSearchWidget("+(c+1)+")");
    form.append($("#nwbib-form > #search-button"));
    $("#search-field-" + c + " > .add-remove-group > #rem-search-field").attr("onclick", "remSearchWidget("+(c)+")");
}

function remSearchWidget(c) {
    $("#search-field-"+c).remove();
}

function addParameters(){
    $(".search-field").each(function( index ) {
         var param = $(this).find("#query-select").val();
         var value = $(this).find("#nwbib-query-advanced").val();
         $("#nwbib-form").append("<input type='hidden' name='"+param+"' value='"+value+"'/>");
    });
}

function setAutosuggest() {
    $('.search-field').each(function() {
        var field = $(this);
        var source = function(request, response) {
            var general = {
                dataType : "jsonp",
                success : function(data) { response(data); }
            };
            var details = suggests(request.term)[field.find("#query-select").val()];
            for (var key in details) { general[key] = details[key]; }
            $.ajax(general)
        }
        field.find("input").autocomplete({source : source});
    });
}

function suggests(term){
    return {
        'query' : {
            url : "/nwbib/subject",
            data : { query : term }
        },
        'name' : {
            url : "http://api.lobid.org/resource",
            data : { name : term, format : "short" }
        },
        'author' : {
            url : "http://api.lobid.org/person",
            data : { name : term, format : "ids" }
        },
        'subject' : {
            url : "http://api.lobid.org/subject",
            data : { name : term, format : "ids" }
        }
    }
}
</script>

@helper.form(action = controllers.nwbib.routes.Application.search(), 
    'id -> "nwbib-form", 'role -> "form", 'class -> "form-inline") {
  <div class="search-field" id="search-field-1">
      <div class="form-group">
            <select id="query-select" class="form-control" onChange="setAutosuggest()">
              <option value="query">Alle Felder</option>
              <option value="name">Titel</option>
              <option value="author">Autor</option>
              <option value="subject">Schlagwort</option>
            </select>
      </div>
      <div class="form-group">
            <input type="text" id="nwbib-query-advanced" class="form-control" placeholder='Suchanfrage'/>
      </div>
      <div class="form-group add-remove-group">
          <a href="#" id="rem-search-field" class="btn btn-default" onclick="remSearchWidget(1)" title="Kriterium entfernen">
                  <span class="glyphicon glyphicon-minus-sign"></span></a>
          <a href="#" id="add-search-field" class="btn btn-default" onclick="addSearchWidget(2)" title="Kriterium hinzufügen">
                  <span class="glyphicon glyphicon-plus-sign"></span></a> 
      </div>
  </div>
  <div class="row" id="search-button">
      <div class="form-group col-md-2 col-md-offset-5">
          <button type=submit class="btn btn-link" onclick="addParameters()">
                  <span class="glyphicon glyphicon-search"></span> Suchen</button>
      </div>
  </div>
}

<script>
$("#rem-search-field").hide();
setAutosuggest();
</script>