@(q: String)

@helper.form(action = controllers.nwbib.routes.Application.search(q), 'id -> "nwbib-form") {
    <div class="input-group">
      <input type="text" name="query" id="nwbibQuery" value="@q" class="form-control" 
          title='Suchoptionen: +einschließen, -ausschließen, unscharf~, "exakt suchen"'/>
      <span class="input-group-btn"><button class="btn btn-default" type="submit">
        <span class="glyphicon glyphicon-search"></span></button></span>
    </div>
}
<script>
$('input').each(function() {
    var $input = $(this);
    $input.autocomplete({
        source : function(request, response) {
            $.ajax({
                url : "/nwbib/subject",
                dataType : "jsonp",
                data : {
                    query : request.term
                },
                success : function(data) {
                    response(data);
                }
            });
        }
    });
});
</script>
