<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <File name="File" fileName="./logs/ETL.log" immediateFlush="true" append="true">
      <PatternLayout pattern="%level [%l] - %m%n"/>
    </File>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%level - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="all">
      <AppenderRef ref="STDOUT" level="info"/>
      <AppenderRef ref="File" level="info"/>
    </Root>
  </Loggers>
</Configuration>
